<div class="post-card" style="height:0; padding-bottom: 100%">
  {% if post.categories %}
    {% assign categories = post.categories %}
    <span class="post-card__label">
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="label"> {{ category }} </a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>
  {% endif %}
  <a href="{{ post.url | relative_url }}">
    {% if post.image.feature %}
      <figure class="post-card__thumb">
        <img src=
        {% if post.image.feature contains 'http' %}
        "{{ post.image.feature }}"
        {% else %}
        "{{ site.url }}/img/{{ post.image.feature }}"
        {% endif %}
        alt="{{ post.title | escape }} feature image">
      </figure>
      {% if post.image.feature %}
      <div class="post-image-feature">
        {% if post.image.credit %}
        <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
        {% endif %}
      </div><!-- /.image-wrap -->
      {% endif %}
    {% else %}
      <figure class="post-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    {% endif %}
  </a>
  <a class="post-card__inner" href="{{ post.url | relative_url }}">
    <div class="post-card__header">
      <h2>{{ post.title | strip_html | truncate: 50 }}</h2>
    </div>
  </a>
</div>

